# Traitement des données des élections françaises

Sources:

* https://www.data.gouv.fr/fr/datasets/election-presidentielle-des-23-avril-et-7-mai-2017-resultats-definitifs-du-1er-tour-1/

* https://www.data.gouv.fr/fr/datasets/contours-des-departements-francais-issus-d-openstreetmap/

In [1]:
import pandas as pd

## Pour le premier tour

In [2]:
df = pd.read_excel('Presidentielle_2017_Resultats_Tour_1_c.xls', sheetname=2, skiprows=3)

## Pour le deuxième tour

In [ ]:
df = pd.read_excel('Presidentielle_2017_Resultats_Tour_1_c.xls', sheetname=2, skiprows=3)

In [3]:
usecols = ['Code du département', 'Libellé du département', '% Abs/Ins', 'Nom', 'Prénom', 'Voix',
       '% Voix/Ins', '% Voix/Exp', 'Sexe.1', 'Nom.1', 'Prénom.1', 'Voix.1',
       '% Voix/Ins.1', '% Voix/Exp.1', 'Nom.2', 'Prénom.2', 'Voix.2',
       '% Voix/Ins.2', '% Voix/Exp.2', 'Nom.3', 'Prénom.3', 'Voix.3',
       '% Voix/Ins.3', '% Voix/Exp.3', 'Nom.4', 'Prénom.4', 'Voix.4',
       '% Voix/Ins.4', '% Voix/Exp.4', 'Nom.5', 'Prénom.5', 'Voix.5',
       '% Voix/Ins.5', '% Voix/Exp.5']

In [4]:
df = df[usecols]

In [5]:
df.columns = ['id', 'title', '% Abs/Ins', 'Nom',
       'Prénom', 'Voix', '% Voix/Ins', '% Voix/Exp', 'Sexe.1', 'Nom.1',
       'Prénom.1', 'Voix.1', '% Voix/Ins.1', '% Voix/Exp.1', 'Nom.2',
       'Prénom.2', 'Voix.2', '% Voix/Ins.2', '% Voix/Exp.2', 'Nom.3',
       'Prénom.3', 'Voix.3', '% Voix/Ins.3', '% Voix/Exp.3', 'Nom.4',
       'Prénom.4', 'Voix.4', '% Voix/Ins.4', '% Voix/Exp.4', 'Nom.5',
       'Prénom.5', 'Voix.5', '% Voix/Ins.5', '% Voix/Exp.5']

In [6]:
df.head()

,id,title,% Abs/Ins,Nom,Prénom,Voix,% Voix/Ins,% Voix/Exp,Sexe.1,Nom.1,...,Nom.4,Prénom.4,Voix.4,% Voix/Ins.4,% Voix/Exp.4,Nom.5,Prénom.5,Voix.5,% Voix/Ins.5,% Voix/Exp.5
0,1,Ain,19.60,LE PEN,Marine,81455,19.59,25.00,M,MACRON,...,DUPONT-AIGNAN,Nicolas,19788,4.76,6.07,HAMON,Benoît,16711,4.02,5.13
1,2,Aisne,21.34,LE PEN,Marine,102770,27.35,35.67,M,MACRON,...,DUPONT-AIGNAN,Nicolas,14651,3.90,5.08,HAMON,Benoît,12230,3.25,4.24
2,3,Allier,21.41,MACRON,Emmanuel,45651,18.01,23.72,F,LE PEN,...,HAMON,Benoît,10619,4.19,5.52,DUPONT-AIGNAN,Nicolas,9795,3.86,5.09
3,4,Alpes-de-Haute-Provence,19.22,LE PEN,Marine,24463,19.33,24.53,M,MÉLENCHON,...,HAMON,Benoît,4983,3.94,5.00,DUPONT-AIGNAN,Nicolas,4861,3.84,4.87
4,5,Hautes-Alpes,18.94,MACRON,Emmanuel,18948,17.24,21.80,M,MÉLENCHON,...,HAMON,Benoît,5109,4.65,5.88,DUPONT-AIGNAN,Nicolas,4938,4.49,5.68

In [7]:
keepCols = [col for col in df.columns if not col.find('Voix/Ins') > 0 and col[:4] != 'Voix']
len(keepCols)

22

In [8]:
df = df[keepCols]

In [9]:
df.head()

,id,title,% Abs/Ins,Nom,Prénom,% Voix/Exp,Sexe.1,Nom.1,Prénom.1,% Voix/Exp.1,...,% Voix/Exp.2,Nom.3,Prénom.3,% Voix/Exp.3,Nom.4,Prénom.4,% Voix/Exp.4,Nom.5,Prénom.5,% Voix/Exp.5
0,1,Ain,19.60,LE PEN,Marine,25.00,M,MACRON,Emmanuel,22.62,...,21.43,MÉLENCHON,Jean-Luc,15.88,DUPONT-AIGNAN,Nicolas,6.07,HAMON,Benoît,5.13
1,2,Aisne,21.34,LE PEN,Marine,35.67,M,MACRON,Emmanuel,17.94,...,16.99,FILLON,François,16.30,DUPONT-AIGNAN,Nicolas,5.08,HAMON,Benoît,4.24
2,3,Allier,21.41,MACRON,Emmanuel,23.72,F,LE PEN,Marine,22.34,...,19.91,FILLON,François,18.94,HAMON,Benoît,5.52,DUPONT-AIGNAN,Nicolas,5.09
3,4,Alpes-de-Haute-Provence,19.22,LE PEN,Marine,24.53,M,MÉLENCHON,Jean-Luc,22.51,...,20.02,FILLON,François,18.49,HAMON,Benoît,5.00,DUPONT-AIGNAN,Nicolas,4.87
4,5,Hautes-Alpes,18.94,MACRON,Emmanuel,21.80,M,MÉLENCHON,Jean-Luc,21.62,...,21.25,FILLON,François,19.15,HAMON,Benoît,5.88,DUPONT-AIGNAN,Nicolas,5.68

In [10]:
newCols = []
for col in df.columns:
    newCols.append(col.replace('.', '_').replace('é','e').replace('% Voix/Exp', 'Score').replace('% Abs/Ins', 'Abstention'))
newCols

['id',
 'title',
 'Abstention',
 'Nom',
 'Prenom',
 'Score',
 'Sexe_1',
 'Nom_1',
 'Prenom_1',
 'Score_1',
 'Nom_2',
 'Prenom_2',
 'Score_2',
 'Nom_3',
 'Prenom_3',
 'Score_3',
 'Nom_4',
 'Prenom_4',
 'Score_4',
 'Nom_5',
 'Prenom_5',
 'Score_5']

In [11]:
df.columns = newCols

In [15]:
df[97:]

,id,title,Abstention,Nom,Prenom,Score,Sexe_1,Nom_1,Prenom_1,Score_1,...,Score_2,Nom_3,Prenom_3,Score_3,Nom_4,Prenom_4,Score_4,Nom_5,Prenom_5,Score_5
97,ZB,Martinique,60.12,MÉLENCHON,Jean-Luc,27.37,M,MACRON,Emmanuel,25.53,...,16.84,LE PEN,Marine,10.94,HAMON,Benoît,9.76,POUTOU,Philippe,2.94
98,ZC,Guyane,65.65,MÉLENCHON,Jean-Luc,24.71,F,LE PEN,Marine,24.30,...,18.75,FILLON,François,14.66,HAMON,Benoît,5.70,POUTOU,Philippe,5.23
99,ZD,La Réunion,41.32,MÉLENCHON,Jean-Luc,24.53,F,LE PEN,Marine,23.46,...,18.91,FILLON,François,17.26,HAMON,Benoît,7.67,DUPONT-AIGNAN,Nicolas,2.89
100,ZM,Mayotte,56.43,FILLON,François,32.62,F,LE PEN,Marine,27.19,...,19.21,MÉLENCHON,Jean-Luc,8.42,HAMON,Benoît,4.33,DUPONT-AIGNAN,Nicolas,3.08
101,ZN,Nouvelle-Calédonie,51.86,FILLON,François,31.13,F,LE PEN,Marine,29.09,...,12.75,HAMON,Benoît,9.34,MÉLENCHON,Jean-Luc,8.86,DUPONT-AIGNAN,Nicolas,2.90
102,ZP,Polynésie française,61.06,FILLON,François,35.28,F,LE PEN,Marine,32.54,...,14.70,MÉLENCHON,Jean-Luc,7.87,HAMON,Benoît,2.91,DUPONT-AIGNAN,Nicolas,2.34
103,ZS,Saint-Pierre-et-Miquelon,45.07,MÉLENCHON,Jean-Luc,35.45,F,LE PEN,Marine,18.16,...,17.97,FILLON,François,9.92,HAMON,Benoît,8.24,DUPONT-AIGNAN,Nicolas,3.00
104,ZW,Wallis et Futuna,36.07,MACRON,Emmanuel,30.48,M,FILLON,François,28.53,...,25.22,LE PEN,Marine,7.11,MÉLENCHON,Jean-Luc,3.59,DUPONT-AIGNAN,Nicolas,1.48
105,ZX,Saint-Martin/Saint-Barthélemy,67.76,FILLON,François,32.02,F,LE PEN,Marine,23.32,...,19.99,MÉLENCHON,Jean-Luc,14.66,HAMON,Benoît,3.14,DUPONT-AIGNAN,Nicolas,2.75
106,ZZ,Français établis hors de France,55.72,MACRON,Emmanuel,40.40,M,FILLON,François,26.32,...,15.83,HAMON,Benoît,6.87,LE PEN,Marine,6.48,DUPONT-AIGNAN,Nicolas,1.59

In [19]:
del df['Sexe_1']

In [46]:
df['Abstention'].describe()

count    107.000000
mean      25.845888
std       12.448904
min       17.280000
25%       20.565000
50%       22.030000
75%       23.615000
max       74.540000
Name: Abstention, dtype: float64

In [ ]:
df['Nom'].value_counts()

In [30]:
def toTitle(value):
    return value.title()
nom_cols = [col for col in df.columns if col.find('Nom') >= 0]
for c in nom_cols:
    df[c] = df[c].apply(toTitle)

In [95]:
df[df['title'].str.contains('Corse')]

,id,title,Abstention,Nom,Prenom,Score,Sexe_1,Nom_1,Prenom_1,Score_1,...,Score_2,Nom_3,Prenom_3,Score_3,Nom_4,Prenom_4,Score_4,Nom_5,Prenom_5,Score_5
19,2A,Corse-du-Sud,31.03,Le Pen,Marine,28.62,M,Fillon,François,25.68,...,17.87,Mélenchon,Jean-Luc,13.84,Lassalle,Jean,5.42,Hamon,Benoît,3.49
20,2B,Haute-Corse,32.76,Le Pen,Marine,27.22,M,Fillon,François,25.44,...,19.02,Mélenchon,Jean-Luc,13.78,Lassalle,Jean,5.84,Hamon,Benoît,3.97

In [100]:
df[0:96].to_csv('/Users/paul/Sites/elections_france/d3-composite-projections/data-t2.csv', index=False)